<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  
  <link rel="stylesheet" href = "//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <link rel='stylesheet' href='{{ url_for("static",filename="stylesheet.css")}}'/>
  <link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Jolly+Lodger' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Averia+Sans+Libre' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src={{url_for('static',filename='resultscript.js')}}></script>
  <title> Results </title>
</head>

<body>
  <div id = "header" > 
    <a href = "/"> Death Watcher </a> <br>
    <form action = "/search" method="POST" id="movie-search"> 
      <label> Search by Movie Title </label>
      <input name  = "movie" placeholder="Movie" type="text"> 
      <input type = "submit" value = "Search">
    </form> 
    {% if "username" in session %} 
    {% endif %}
  </div>
  <div id = "content">
    <br>
    {% for i in range(results|length) %}
    <div class = "bevel" index = {{i}}>
      <img src = {{results[i]['pic']}} class = "pic">
      <a href={{results[i]['link']}} target = "_blank"  class = "title"> {{results[i]['title']}} </a>
    </div>
    {% endfor %}
  {% if "data" in session %}
  <div id = 'statuscounts'>
    <div id = 'alive'> Number Living {{data[1]['statusCounts']['alive']}} </div>
    <div id = 'dead'> Number Dead {{data[1]['statusCounts']['dead']}} </div>
    <div id = 'unknown'> Number Misplaced {{data[1]['statusCounts']['unkown']}} </div>
  </div>
  <div id = 'all-dead'> Everyone will be dead by {{data[1]['predictedAllDeadYear']}} </div>
    
  {% endif %}
  </div>

</body>
</html>
